{% comment %}
  Section: "g-hero"

  Snippets:
  - g-button
  - g-render-image
  - g-horizontal-alignment
  - g-render-stars
  - g-badge
{% endcomment %}

{% style %}
  #shopify-section-{{ section.id }} {
    --background-overlay-opacity: {{ section.settings.background_overlay }};
  }

  .background-{{ section.id }} {
    background: {{ section.settings.background_color }};
  }

  .paddings-{{ section.id }} {
    padding-top: {{ section.settings.padding_mob_t }}px;
    padding-bottom: {{ section.settings.padding_mob_b }}px;
  }

  .content-paddings-{{ section.id }} {
    padding: {{ section.settings.content_padding_mob }}px;
  }

  @media screen and (min-width: 768px) {
    .paddings-{{ section.id }} {
      padding-top: {{ section.settings.padding_dsk_t }}px;
      padding-bottom: {{ section.settings.padding_dsk_b }}px;
    }

    .content-paddings-{{ section.id }} {
      padding: {{ section.settings.content_padding_dsk }}px;
    }
  }
{% endstyle %}

{%- liquid
  capture horizontal_position_dsk
    case section.settings.horizontal_position_dsk
      when 'left'
        echo 'md:jc-mr-auto'
      when 'center'
        echo 'md:jc-mx-auto'
      when 'right'
        echo 'md:jc-ml-auto'
    endcase
  endcapture
%}

<div class="background-{{ section.id }} jc-relative">
  {% render 'g-background-video', section: section %}
  <div class="jc-w-full jc-h-full jc-absolute jc-inset-0 jc-bg-[rgba(0,0,0,calc(var(--background-overlay-opacity)/100))]" ></div>
  <div class="jc-container jc-relative paddings-{{ section.id }}">
    <div class="content-paddings-{{ section.id }} jc-max-w-[768px] jc-flex jc-flex-col {% render 'g-horizontal-alignment', root: section %} {{ horizontal_position_dsk }} background-{{ section.id }} jc-gap-4">
      {%- if section.settings.tagline != blank -%}
        <span class="jc-uppercase">
          {{- section.settings.tagline -}}
        </span>
      {%- endif -%}

      {%- if section.settings.heading != blank -%}
        <h3 class="jc-font-bold jc-text-2xl jc-leading-8 lg:jc-text-5xl lg:jc-leading-10">
          {{- section.settings.heading -}}
        </h3>
      {%- endif -%}

      {%- if section.settings.description != blank -%}
        <div class="jc-text-lg jc-mt-2 jc-leading-8">
          {{ section.settings.description }}
        </div>
      {%- endif -%}

      <div class="jc-flex jc-flex-col jc-gap-4">
        {%- if section.settings.button_1_text != blank -%}  
          <div class="jc-flex jc-items-center jc-gap-4 {% render 'g-horizontal-alignment', root: section, direction: 'row' %}">
            {% render 'g-button', 
              type: section.settings.button_1_style,
              text: section.settings.button_1_text,
              link: section.settings.button_1_link
            %}
          </div>
        {%- endif -%}
        {%- if section.settings.button_2_text != blank -%}  
          <div class="jc-flex jc-items-center jc-gap-4 {% render 'g-horizontal-alignment', root: section, direction: 'row' %}">
            {% render 'g-button',
              type: section.settings.button_2_style,
              text: section.settings.button_2_text,
              link: section.settings.button_2_link
            %}
            {% render 'g-badge', text: section.settings.badge_text %}
          </div>
        {%- endif -%}
        <div class="jc-flex jc-flex-wrap jc-items-center jc-gap-2 {% render 'g-horizontal-alignment', root: section, direction: 'row' %}">
          {% render 'g-render-stars', rating: section.settings.reassurence_rating %}
          {% if section.settings.reassurence_sentence != blank %}
            <p>
              {{ section.settings.reassurence_sentence }}
            </p>
          {% endif %}
        </div>
        <div class="jc-flex jc-items-center jc-gap-2 {% render 'g-horizontal-alignment', root: section, direction: 'row' %}">
          {% for i in (1..3) %}
            {%- if section.settings['badge_text_' | append: i] != blank -%}
              {% render 'g-badge', text: section.settings['badge_text_' | append: i], style: 'icon-text' %}
            {%- endif -%}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>